.shopping-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-inline: auto;
}

.shopping-item-container {
  background-color: #2d2d2ddc;
  color: whitesmoke;
  width: 24rem;
  box-shadow: 0 0 10px rgba(155, 155, 155, 0.3);
  border-radius: 12px;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  user-select: none;
}

.item-description {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  font-size: 1.2rem;
}

.item-name  {
  word-break: break-word;
  white-space: normal;
  font-size: 1.5rem;
}

.item-btn-row {
  display: flex;
  justify-content: space-evenly;
}